<ion-header>
  <ion-navbar>
    <ion-title>
      All Tasks
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content >
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
   <ion-list *ngFor="let task of tasks">
      <ion-item (click)="taskClicked(task)">
         <h3>{{task.title}}</h3>
         <p>status: {{task.status}}
         <p>id:{{task.id}}</p>
         <p *ngIf="task.description">Description : {{task.description}}</p>
         <p *ngIf="task.author">Author : {{task.author}}</p>
         <p>Created: {{task.created}}</p>
      </ion-item>
   </ion-list>
   <h3 padding *ngIf="!tasks || tasks.length == 0">There is no tasks</h3>
</ion-content>
