extends layout

block content
  h1 All tasks
  p Welcome to All tasks. Please select task to watch
  if tasks
   form(action="watch",method="POST")
    select(name="task_id")
        each task, i in tasks
          option(value=task.id) #{task.title}
    br
    br
    button(type="submit") Submit
  else
    a(href="/tasks/watch") All tasks